.nav {
    padding: 20px 0;
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__left {
        display: flex;
        align-items: center;
        gap: 40px;
        transition: 0.3s ease-in-out;
        a {
            padding: 16px 0 16px 40px;
            border-left: 1px solid #E6E8EC;
            font-size: 14px;
            font-weight: 700;
            color: #777E90;
            &:hover{
                color: blue;
            }
        }
    }
    &__list {
        display: flex;
        align-items: center;
        gap: 24px;
    }
    &__item {
        font-size: 14px;
        font-weight: 700;
        color: #777E90;
        display: flex;
        align-items: center;
        gap: 12px;
        transition: 0.3s ease-in-out;
        &:hover{
            color: blue;
        }
    }
    .btn {
        color: black;
        padding: 10px 16px 12px 16px;
        border: 2px solid #E6E8EC;
        border-radius: 90px;
        display: block;
        margin: auto;
        transition: 0.3s ease-in-out;
        &:hover{
            background-color: #777E90;
            color: white;
        }
    }
    &__hamburger{
        display: none;
    }
}
@include tablet(){
    .nav{
        .tablet{
            display: none;
        }
    }
}
@include mobile(){
    .nav{
        padding: 48px 0 20px 0;
        .mobile{
            display: none;
        }
        .nav__hamburger{
            display: block;
        }
        .avatar{
            width: 32px;
            height: 32px;
        }
        &__logo{
            width: 94px;
            height: 32px;
        }
    }
}